

h1, li {
    text-align: left;
  }
  h1 {
    margin-bottom: 20px;
  }
  li {
    margin-left: 20px;
    margin-top: 3px;
    width: 200px;
  }
  li:hover {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    
  }

  td, th {
  border: 2px solid darkgrey;
  text-align: left;
}
tr:nth-child(odd) {
    background-color: #dddddd;
  }

.ata {
    position: absolute;
    left: 450px;
    top: 80px;
    width: 70%;
  } 